@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

body {
    font-family: 'Rubik';
    overflow: hidden;
}

.main_plus_article {
    display: flex;
    align-items: center;

    @media screen and (max-width:700px) {
        flex-direction: column;
        margin-top: auto;

    }
}

.purple_background_down {
    display: flex;
    width: 20vw;
    aspect-ratio: 1/1.8;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    position: absolute;
    left: -50px;
    top: 0;
    border-radius: 0 0 200px 200px;
    z-index: -1;

    @media screen and (max-width:700px) {
        width: 70vw;
        left: -75px;

    }

}

.purple_background_up {
    display: flex;
    width: 20vw;
    aspect-ratio: 1/1.8;
    background-color: hsla(276, 96%, 45%, 0.1);
    position: absolute;
    margin-left: auto;
    right: -50px;
    bottom: 0;
    border-radius: 200px 200px 0 0;

    @media screen and (max-width:700px) {
        width: 70vw;
        left: -75px;

    }


}

main {
    background-color: white;
    border: 12px solid white;
    border-radius: 20px;
    width: 350px;
    height: 700px;
    box-shadow: 50px 40px 50px 2px rgb(199, 199, 199);
    transform: scale(0.5);
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 140px;
    top: -20px;
    z-index: 10;

    @media screen and (max-width:700px) {
        position: relative;
        left: 10px;
        top: -150px;
    }


}

.white_decoration {
    width: 200px;
    height: 20px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: -1px;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;

}

.chat_person {
    border-radius: 20px 20px 5px 5px;
    background: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    color: white;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 80px;
    width: 100%;
}

.chat_person>img:last-of-type {

    border-radius: 50%;
    border: 1px solid white;
}

.chat_person>img:first-of-type {
    height: 12px;
}

.full_name {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.three_dots_icon {
    margin-left: auto;


}

.three_dots_icon>img {
    height: 12px;
}

.chat_person>p {
    margin: 0;
}


.chat_person>p>span {
    color: lightgray;
    font-size: xx-small;
}

article {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 60%;
    transform: translateX(-50%);

    @media screen and (max-width:700px) {
        bottom: 0;
        justify-content: end;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
    }
}

article>p {
    color: lightgrey;
    font-size: small;
    font-weight: unset;
    margin-bottom: 50px;
}

article>h1 {
    font-size: larger;
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: 100px;
}

img {
    height: 70px;
    border-radius: 10px;
}

.avatar_img {
    height: 40px;
}

.pictures {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    margin: 5px;


}

.chat_background {
    background-color: hsl(270, 20%, 96%);
    display: flex;
    flex-direction: column;
    position: absolute;
    height: fit-content;
    width: 100%;
    bottom: 0;
}

.in_message {
    width: 170px;
    color: hsl(276, 55%, 52%);
    background-color: hsla(276, 55%, 52%, 0.1);
    border-radius: 5px 5px 5px 0;
    margin: 5px;
    padding: 10px;
    align-self: flex-start;
    font-size: small;

}

.out_message {
    max-width: 170px;
    width: auto;
    color: black;
    background-color: white;
    border-radius: 5px 5px 0 5px;
    margin: 5px;
    padding: 10px;
    align-self: flex-end;
    font-size: small;

}

.walk_option>p {
    font-size: xx-small;
}

.walk_option>div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid hsl(289, 100%, 72%);
    caret-color: transparent;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid hsl(289, 100%, 72%);
    border-radius: 50%;
    background-color: transparent;
}

input[type="radio"]:checked {
    background-color: white;
}


.walk_option>span {
    font-size: 12px;
    font-weight: bolder;
    margin-left: auto;
}

.walk_option {
    width: 150px;
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 10px 10px 10px 0;
    margin: 10px 0 10px 10px;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    gap: 10px;
}

.text_prompt {
    background-color: white;
    border-radius: 100px;
    height: 40px;
    margin: 5px;
    color: lightgrey;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.type_message {
    position: relative;
    left: 20px;
    font-size: 15px;
}

.send_icon {
    background-color: hsl(271, 36%, 24%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(2.5);
    color: white;
    font-size: 8px;
    margin-left: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

footer {
    margin-bottom: 0;
    padding: 20px;
    font-size: xx-small;
    text-align: center;
    display: flex;
    justify-content: center;
}