@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

body {
    font-family: 'Rubik';
}


.purple_background_down {
    width: 200px;
    height: 500px;
    position: absolute;
    top: 0;
    left: -50px;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 200px 200px;
}


.purple_background_up {
    width: 200px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: -50px;
    background-color: hsla(276, 96%, 45%, 0.1);
    border-radius: 200px 200px 0 0;
}

main {
    position: absolute;
    top: -150px;
    left: 50px;

    background-color: hsl(270, 20%, 96%);
    border: 12px solid white;
    width: 375px;
    height: 840px;
    border-radius: 30px;
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
    transform: scale(0.5);
}

.white_decoration {
    width: 200px;
    height: 20px;
    background-color: white;
    position: relative;
    left: 50%;
    top: -1px;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.chat_person {
    position: relative;
    top: -20px;
    border-radius: 20px 20px 5px 5px;
    background: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.chat_person>img:last-of-type {

    border-radius: 50%;
    border: 1px solid white;
}

.chat_person>img:first-of-type {
    height: 12px;
}

.three_dots_icon>img {
    height: 24px;
}

.avatar_img {
    height: 50px;
    margin: 20px;
}

.full_name {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.three_dots_icon {
    margin-left: auto;

}

.chat_person>p {
    margin: 0;
}

.chat_person>p>span {
    color: lightgray;
    font-size: xx-small;
}

.pictures {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    margin: 5px;
}

.chat_background {
    background-color: hsl(270, 20%, 96%);
    display: flex;
    gap: 8px;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    padding: 10px;

}

img {
    height: 70px;
    border-radius: 10px;
}

.in_message {
    width: 170px;
    color: hsl(276, 55%, 52%);
    background-color: hsla(276, 55%, 52%, 0.1);
    border-radius: 5px 5px 5px 0;
    padding: 10px;
    align-self: flex-start;
    font-size: small;

}

.out_message {
    max-width: 170px;
    width: auto;
    color: black;
    background-color: white;
    border-radius: 5px 5px 0 5px;
    padding: 10px;
    align-self: flex-end;
    font-size: small;


}


.walk_option>p {
    font-size: xx-small;
}

.walk_option>div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid hsl(289, 100%, 72%);
    caret-color: transparent;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid hsl(289, 100%, 72%);
    border-radius: 50%;
    background-color: transparent;
}

input[type="radio"]:checked {
    background-color: white;
}


.walk_option>span {
    font-size: 12px;
    font-weight: bolder;
    margin-left: auto;
}

.walk_option {
    width: 150px;
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    gap: 10px;
}

.text_prompt {
    background-color: white;
    border-radius: 100px;
    height: 40px;
    color: lightgrey;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;

}

.type_message {
    position: relative;
    left: 20px;
    font-size: 15px;
}

.send_icon {
    background-color: hsl(271, 36%, 24%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(2.5);
    color: white;
    font-size: 8px;
    margin-left: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

article {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 500px;
    width: 70vw;

}

article>p {
    color: gray;
    font-size: 24px;
    font-weight: unset;
    margin-bottom: 50px;
}

article>h1 {
    font-size: 50px;
}


/* Responsive design */
@media screen and (max-width: 500px) {

    article {
        position: fixed;
        left: 50%;
        top: auto;
        width: 100%;
        transform: translateX(-50%);

    }

}